:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--fec-bg-primary);
  color: var(--fec-text-primary);
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
